
body {
  overflow: hidden;
  margin: 6px;
  padding: 0;
  background-image: -webkit-linear-gradient(top, #F0F0F0 0%, #dddddd 20%);
  min-width:300px;
  font-family: Verdana,Helvetica,sans-serif;
  font-size:9pt;
  line-height:150%;
}
.textvalence {
  font-weight:bold;
  font-size: 11pt;
  margin-bottom: 1em;
}
.text {
  border-radius: 10px;
}
.word,.tile {
  border-radius: 5px;
  box-shadow:2px 2px 2px #989898;
}
.positiveW,.positiveT { background-color: #83fc02; }
.negativeW,.negativeT { background-color: #c9b2ff; }
.mixedW,.mixedT       { background-color: #f8ef11; }
.neutralW,.neutralT   { background-color: white; }
.extremeW,.extremeT   { background-color: darkgray; }

.para {
  padding:1em;
  background:white;
  border-left:5px solid white;
  border-radius: 10px;
}
.neutralP  { }
.positiveP { border-left-color: #83fc02; }
.negativeP { border-left-color: #c9b2ff; }
.extremeP    { border-left-color: darkgray; }
.mixedP    { border-left-color: #f8ef11;  border-left-style: dotted; }

div.chart {
  position:relative;
  height:40px;
}
.chart a {
  text-decoration:none;
  color:#555;
}
div.bar {
  /*only needed for height * position:relative;*/
  padding:0px;
  margin:0px;
  height:24px;
  float:left;
  box-shadow:2px 2px 5px #989898;
}
span.info {
  display: none;
  width: 120px;
  position: absolute;
  margin-top: 0px;
  padding:6px 0px 6px 10px;
  font-size:80%;
}
.bar:hover {
  padding: 4px 0 4px 0;
  margin-top: -4px;
}
.bar:hover .info {	
  display: block;
  font-weight: bold; 
  background-color:lightyellow;
  border-radius: 5px;
  box-shadow:2px 2px 5px #989898;
}
.legend {
  padding: 1em;
  font-size:8pt;
  color: #666;
}
.legend ul {
  list-style-type: none;
  padding: 6px;
  margin: 0px;
}
.legend li {
  margin-left:2em;
}
